* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.clear {
  padding-top: 40px;
  clear: left;
}

header{
  width: 100%;
  background-color: rgba(30, 50, 70, 0.9);
  position:fixed;
  top:0;
  z-index:10;
}
header a{
  color:#000;
  text-decoration: none;
}

.container{
  display: flex;
  align-items: center;
  max-width: none;
}
.logo{
  display: block;
}
.logo img{
  height: 60px;
  vertical-align: bottom;
}
.logo img:hover{
  background-color: rgba(30, 50, 70, 1);
  
}
.area_nav_header{
  margin-left: auto;
  display: block;
}
.list_nav_header{
  display: flex;
}
.area_nav_header ul li{
  display: block;
}
.menu{
  padding: 18px;
  color: #fff;
}
.menu:hover{
  background-color: rgba(30, 50, 70, 1);
}
.list_nav_header > li + li{
  margin-left: 40px;
}
.sub_menu{
  position: absolute;
  background-color: rgba(30, 50, 70, 0.9);
  margin-top: 18px;
  display: none;
}
.sub_menu ul li{
  line-height: 50px;
  display: block;
}
.area_nav_header ul li:hover .sub_menu{
  display: block;
}
.sub_menu a{
  padding: 0 18px;
  color: #fff;
}
.sub_menu ul li:hover{
  background-color: rgba(30, 50, 70, 1);
}
.sub_menu_members{
  width: 115px;
}
.sub_menu_activities{
  width: 128px;
}
.toggle-wrapper{
  margin-left: auto;
  padding: 18px;
  display: none;
}
.toggle-wrapper:hover{
  background-color: rgba(30, 50, 70, 1);
}
.toggle{
  height: 5px;
  width: 35px;
  background-color: #fff;
  border-radius: 25px;
  margin-bottom: 5px;
}
.global_nav{
  display: none;
}
.global_nav ul li{
  text-align: center;
  line-height: 50px;
}
.global_nav ul li:hover{
  background-color: rgba(30, 50, 70, 1);
}
.global_nav a{
  color: #fff;
}


.main {
  background-color: rgb(243, 243, 243);
  padding-top: 70px;
}


.page-title {
  margin: 110px 20px 2px 20px;
  color: rgb(50, 70, 114);
  background-size: cover;
  justify-content: center;
  text-align: center;
  font-size: 145%;
}


.research-theme {
  display: flex;
  align-items: center;
}

.research-theme:before,
.research-theme:after {
  content: "";
  height: 1.5px;
  flex-grow: 1;
  background-color: #1e366a;
}

.research-theme:before {
  margin-right: 1rem;
  /*background: linear-gradient(-90deg, #666, transparent);*/
}

.research-theme:after {
  margin-left: 1rem;
  /*background: linear-gradient(90deg, #666, transparent);*/
}

.picture {
  max-width: 1080px;
  margin: 35px auto 50px auto;
  text-align: center;
}

.allmembers {
  width: 90%;
  height: auto;
}

.name-title {
  margin: 2px 40px 2px 40px;
  font-size: 100%;
}

.JPN {
  display:flex;
}

.name {
  width: 20%;
  padding-right: 4%;
}

.title {
  width: 80%
}

.Eng {
  display:flex;
}

.hr1 {
  margin: 8px 20px;
  border-top: 1.4px dashed #9e9d9d;
}

.hr2 {
  margin: 15px 20px 55px 20px;
  border: 1px solid #1e366a;
}

footer {
  background-color: rgb(30, 50, 70);
  color: white;
  position: absolute;
  width: 100%;
}
.content {
  float: left;
  margin: 40px 50px 0 50px;
}
.sns a {
  font-size: 50px;
}
.instagram {
  color: #d93177;
  margin-right: 25px;
}
.twitter {
  color: #55acee;
}
.website-links li {
  list-style: none;
  margin: 10px 0;
}
.website-links a {
  color: white;
}

.footer-hr {
  border-top: 1px solid white;
}
.footer-bottom {
  padding: 20px 0;
}
.copyright-text {
  margin-left: 20px;
  opacity: 0.5;
  font-style: italic;
}


@media screen and (max-width: 834px) {

  .page-title {
    margin: 110px 20px 2px 20px;
    font-size: 115%;
  }

  .picture {
    margin: 25px auto 40px auto;
  }

  .name-title {
    margin: 2px 20px 2px 20px;
    font-size: 13px;
  }

  .name {
    padding-right: 6%;
  }

}

@media (max-width: 740px){
  .area_nav_header{
    display: none;
  }
  .ac_menu{
    display: none;
  }
  .toggle-wrapper{
    display: block;
  }
  .global_nav{
    display: block;
  }
}

@media (max-width: 670px){
  .content{
      margin-left: 20px;
  }
  .contact iframe{
      width: 330px;
  }
}

@media screen and (max-width: 470px){
  .website-links li{
    font-size: 13px;
  }
  .contact p{
    font-size: 13px;
  }
  .contact iframe{
    width: 100%;
  }
}

@media screen and (max-width: 414px) {

  .page-title {
    margin: 110px 20px 2px 20px;
    font-size: 90%;
  }

  .picture {
    margin: 15px auto 20px auto;
  }

  .name-title {
    margin: 2px 20px 2px 20px;
    font-size: 10px;
  }

  .hr2 {
    margin-bottom: 40px;
  }

}